<div class='suj-commentable-form'>
<%= form_tag({ :controller => :comments, :action => :index, "#{commentable.class.to_s.downcase}_id" => commentable.id }, :remote => true) do %>
<%=   hidden_field_tag :commentable_model, commentable.class.to_s %>
<%    if ! parent.blank? -%>
<%=     hidden_field_tag "comment[parent_id]", parent.id.to_s %>
<%    end -%>
<%=   text_area_tag "comment[text]" %>
<%    if ! parent.blank? -%>
<%=     submit_tag t("commentable.reply") %>
<%    else -%>
<%=     submit_tag t("commentable.add_comment") %>
<%    end  -%>
<% end %>
</div>
