<div class='suj-commentable-form'>
<%= form_tag("/#{commentable.class.to_s.pluralize.downcase}/#{commentable.id}/comments", :remote => true) do %>
<%=   hidden_field_tag :commentable_model, commentable.class.to_s %>
<%    if ! parent.blank? -%>
<%=     hidden_field_tag "comment[parent_id]", parent.id.to_s %>
<%    end -%>
<%=   text_area_tag "comment[text]" %>
<%    if ! parent.blank? -%>
<%=     submit_tag "Reply" %>
<%    else -%>
<%=     submit_tag "Add Comment" %>
<%    end  -%>
<% end %>
</div>
