<% commentable_user = controller.send(:commentable_user) -%>
<li id='suj-comment-<%= comment.id -%>' class='suj-commentable-item'>
<% if ! comment.author.blank? -%>
 <div class='suj-commentable-avatar'><%= avatar_tag(comment.author.email) -%></div>
<% end -%>
<div class='suj-commentable-time'><%= t("commentable.info", :time => distance_of_time_in_words_to_now(comment.created_at), :user => (comment.author) ? comment.author.name : "" ) -%></div>
<% if comment.enabled? -%>
  <div id='suj-comment-<%= comment.id -%>-text' class='suj-commentable-text'><%= comment.text -%></div>
<% else -%>
  <div id='suj-comment-<%= comment.id -%>-text' class='suj-commentable-text suj-commentable-censored'><%= t('commentable.censored') -%></div>
<% end -%>
<%= render :partial => 'suj/commentable/item_controls', :formats => [:html], :locals => { :comment => comment, :commentable_user => commentable_user } %>
<%= render :partial => 'suj/commentable/form', :formats => [:html], :locals => { :commentable => commentable, :parent => comment } %>
</li>
<ul id='suj-comment-children-list-<%= comment.id -%>' class='suj-commentable-list'>
<% comment.children.desc(:created_at).each do |child| -%>
 <%= render :partial => 'suj/commentable/item', :formats => [:html], :locals => { :comment => child, :parent => comment, :commentable => commentable } %>
<% end -%>
</ul>
