<div class='suj-commentable-form'>
<%= form_for([commentable, comment = commentable.comments.klass.new], :remote => true) do |f| %>
<%=   hidden_field_tag :commentable_model, commentable.class.to_s %>
<%=   hidden_field_tag :comment_model, comment.class.to_s %>
<%    if ! author.blank? -%>
<%=     f.hidden_field :author_id, :value => author.id %>
<%=     f.hidden_field :author_type, :value => author.class.to_s %>
<%    end -%>
<%    if ! parent.blank? -%>
<%=     f.hidden_field :parent_id, :value => parent.id %>
<%    end -%>
<%=   f.text_area :text %>
<%=   f.submit "Reply" %>
<% end %>
</div>
